/* SignUp.css */

.containerCadastro {
    padding: 36px;
    background: rgb(255, 193, 242);
    background: radial-gradient(
        circle,
        rgba(141, 4, 4, 0.539) 0%,
        rgba(255, 77, 107, 0.552) 52%,
        rgb(209, 63, 63) 100%
    );
}

.formCadastro {
    display: flex;
    flex-direction: column;
    padding: 50px;
    margin: 50px 450px;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    border-radius: 50px 50px; /* Rounded right edge */
    color: white; /* Text color */
}

.formCadastro h3 {
    font-size: 24px;
    margin-bottom: 5px;
    color: black;
    border-bottom: 2px solid rgba(255, 0, 0, 0.517);
    display: block;
}

.formInputsCadastro h5 {
    font-size: 15px;
    font-weight: normal;
    margin-bottom: -0px;
    margin-top: 20px;
    color: rgb(0, 0, 0);
    display: block;
}

.formInputsCadastro {
    display: flex;
    flex-direction: column;
    max-width: 300px;
}

.formInputsCadastro input {
    width: 250px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    border-top: 2px solid rgba(255, 0, 0, 0.517);
}

.formInputsCadastro button {
    width: fit-content;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 10px;
    background-color: #000000;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.createAcountCadastro:hover {
    text-decoration: underline;
    color: #891919da;
}

.formContainerCadastro:hover .formCadastro {
    box-shadow: 0px 0px 1px 4px #891919;
}

.formInputsCadastro button:hover {
    background-color: #891919da;
    box-shadow: 0px 0px 1px 4px #89191955;
    color: #ffffff;
}

.identificationToggle button {
    display: grid (2, 1fr);
    grid-column: 2;
    padding: 4px 10px;
    margin: 10px 10px 10px 0px;
    font-size: 10px;
}

.toggleIdentification {
    padding: 10px;
    margin: 0 5px;
    background-color: transparent;
    border: 1px solid #ccc;
    border-radius: 4px;
    cursor: pointer;
}

/* .identification input::-webkit-outer-spin-button,
.identification input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.identification input[type='number'] {
    -moz-appearance: textfield;
} */

@media screen and (max-width: 1400px) {
    .formCadastro {
        padding: 20px; /* Adjust the padding for mobile */
        margin: 20px 10px; /* Adjust the margin for mobile */
        border-radius: 20px; /* Remove rounded border for mobile */
    }

    .formInputsCadastro {
        max-width: none; /* Reset max-width for mobile */
    }

    .formInputsCadastro input {
        width: 100%; /* Make inputs full width for mobile */
    }

    .identificationToggle button {
        display: inline-block; /* Adjust button layout for mobile */
        margin: 5px 10px 7px 0;
    }

    .toggleIdentification {
        margin: 10px 0; /* Adjust margin for mobile */
    }

    .containerCadastro {
        padding: 36px;
        background: rgb(255, 193, 242);
        background: radial-gradient(
            circle,
            rgba(141, 4, 4, 0.539) 0%,
            rgba(255, 77, 107, 0.552) 52%,
            rgb(209, 63, 63) 100%
        );
        height: 100vh;
    }
}
