.card {
    padding: 10px;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease-in-out;
}

@media (max-width: 768px) {
    .card {
        border-bottom: 1px #222222 solid;
        width: 100%;
    }
}

.card:hover {
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

.card img {
    width: 100%;
    max-height: 200px;
    border-radius: 10px 10px 0 0;
    object-fit: cover;
    border-bottom: 2px solid black;
}

.card-content {
    padding: 10px;
}

.card h4 {
    font-size: 18px;
    margin: 0;
    padding: 5px 0;
    margin-bottom: -5px;
}

.card p {
    margin: 0;
    padding: 2px 0;
}

.minorText {
    color: rgb(109, 109, 109);
    font-size: 0.8rem;
}
