.card {
    padding: 10px;
}

.card img {
    margin-top: 10px;
    width: 300px;
    height: 300px;
    border-radius: 10px;
    box-shadow: 2px 18px 32px 4px rgba(230, 230, 230, 0.555);
    object-fit: cover;
    background-size: cover;
    transition-delay: 0.05s;
}

.card img:hover {
    margin-top: 10px;
    width: 300px;
    height: 300px;
    border-radius: 10px;
    box-shadow: 2px 18px 32px 4px rgba(0, 0, 0, 0.1);
    object-fit: cover;
    background-size: cover;
}

.card h4 {
    margin-top: 3px;
}

.card p {
    margin-top: -17px;
}

.minorText {
    color: rgb(109, 109, 109);
}
