.container {
    padding: 36px;
}

.container .cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 40px;
}

@media (max-width: 768px) {
    .container .cards {
        grid-template-columns: auto !important;
    }
}
