.container {
    padding: 36px;
}

.cardBackground {
    background-color: rgba(199, 199, 199, 0.268);
    border-radius: 16px;
    min-height: 100vh;
}

.container .cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 40px;
    
}

@media (max-width: 768px) {
    .container .cards {
        display: flex;
        flex-wrap: wrap;
        border: 1px #222222 solid;
        border-radius: 16px;
    }
}

@media (max-width: 1400px) {
    .container .cards {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (max-width: 1200px) {
    .container .cards {
        grid-template-columns: repeat(2, 1fr);
    }
}
