.container {
    margin-bottom: -30px;
}

.cabecalho {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    /* background-color: #333; */
    padding: 15px;
    border-bottom: 1px #222222 solid;
}

.cabecalho a {
    color: #222222;
    text-decoration: none;
    margin: 0 10px;
}

.cabecalho a:hover {
    text-decoration: underline;
}

@media (max-width: 768px) {
    .cabecalho {
        flex-direction: column;
        align-items: center;
    }

    .cabecalho a {
        margin: 10px;
    }
}

.mainHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    color: #222222;
}

.mainHeader div:first-child {
    font-size: 24px;
    font-weight: bold;
}

.searchbar {
    box-shadow: 2px 18px 32px 4px rgba(0, 0, 0, 0.1);
    border: 1px solid #222222;
    border-radius: 25px;
    padding: 8px 15px;
    margin: 0 5px;
}

.searchbar img {
    width: 20px;
    margin-right: 5px;
}

.searchbar input[type='text'] {
    border: none;
    outline: none;
    background: transparent;
    color: #222222;
}

.button {
    background-color: #222222;
    box-shadow: 2px 18px 32px 4px rgba(0, 0, 0, 0.1);
    color: #fff;
    border: none;
    padding: 8px 15px;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
}

@media (max-width: 768px) {
    .mainHeader {
        flex-direction: column;
    }

    .searchbar {
        margin: 10px 0;
    }
}
