.login {
    background-color: #222222;
    box-shadow: 2px 18px 32px 4px rgba(0, 0, 0, 0.1);
    color: #fff;
    border: none;
    padding: 6px 12px;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    text-decoration: none;
    font-weight: lighter;
}

